html, body {
    width: 100%;
    height: 100%;
}

.color-primary {
    background-color: darkkhaki;
}

.thick-border-1 {
    border: solid 10px black;
    
    /* Turn a square into a circle*/
    border-radius: 50%;
}

.thick-border-2 {
    border-width: 10px;
    border-style: solid;
    border-color: black;
}

.outer-square {
    width: 360px;
    height: 360px;
    background-color: sandybrown;
}

.inner-square {
    width: 200px;
    height: 200px;
    background-color: white;
}

.inner-inner-square {
    width: 120px;
    height: 120px;
}

/* Version 1 for centering */
.center-v1 {
    display: flex;
    justify-content: center;
    align-items: center;
}